- content_for :page_js do
  = javascript_include_tag 'static_pages/index'

#mens-collection.landing-page-a
  %ul.entries.primary-grid
    %li.aspect-ratio-0
      .primary-slider.rsDefault.aspect-ratio-0
        .rsContent
          =link_to image_tag('mens_collection_1.jpg', :class => 'rsImg grid-image light-fade'),'#'
          .rollover
            .slide-title.big-title
              %h2=link_to 'autumn / winter 2014–2015', lookbook_men_path
              %h6 campaign
    %li.aspect-ratio-1
      =link_to image_tag('mens_collection_2.jpg', :class => 'rsImg grid-image desktop-image light-fade'), '#'
      .rollover
        .slide-title
          %h2=link_to 'made to measure', made_to_measure_path
          %h6 explore
        .buttons
          =link_to image_tag('button-white-shop.png'), 'http://shop.vakko.com/made-to-measure'
          //=link_to image_tag('button-white-play.png'), '#'
          =link_to image_tag('button-white-info.png'), made_to_measure_path

    %li.aspect-ratio-2
      =link_to image_tag('mens_collection_3.jpg', :class => 'rsImg grid-image desktop-image'), '#'
      .rollover
        .slide-title
          %h2=link_to 'vakko handkerchief', handkerchiefs_path
          %h6 explore
        .buttons
          =link_to image_tag('button-white-shop.png'), 'http://shop.vakko.com/handkerchiefs'
          //=link_to image_tag('button-white-play.png'), '#'
          =link_to image_tag('button-white-info.png'), handkerchiefs_path

    %li.aspect-ratio-1.right
      =link_to image_tag('mens_collection_4.jpg', :class => 'rsImg grid-image desktop-image'), '#'
      .rollover
        .slide-title
          %h2=link_to 'vakko perfume', mens_perfume_path
          %h6 explore
        .buttons
          =link_to image_tag('button-white-shop.png'), 'http://shop.vakko.com/mens-perfume'
          //=link_to image_tag('button-white-play.png'), '#'
          =link_to image_tag('button-white-info.png'), mens_perfume_path

    %li.aspect-ratio-1
      =link_to image_tag('mens_collection_5.jpg', :class => 'rsImg grid-image desktop-image light-fade'), '#'
      .rollover
        .slide-title
          %h2=link_to 'vakko shirts & ties', shirts_and_ties_path
          %h6 explore
        .buttons
          =link_to image_tag('button-white-shop.png'), 'http://shop.vakko.com/shirts-and-ties'
          //=link_to image_tag('button-white-play.png'), '#'
          =link_to image_tag('button-white-info.png'), shirts_and_ties_path

    %li.aspect-ratio-2
      =link_to image_tag('mens_collection_6.jpg', :class => 'rsImg grid-image desktop-image'), '#'
      .rollover
        .slide-title
          %h2=link_to 'vakko shoes', mens_shoes_path
          %h6 explore
        .buttons
          =link_to image_tag('button-white-shop.png'), 'http://shop.vakko.com/mens-shoes'
          //=link_to image_tag('button-white-play.png'), '#'
          =link_to image_tag('button-white-info.png'), mens_shoes_path