#womans-collection-page.collection-slider.rsDefault
  .rContent
    =image_tag('womens-collection-1.jpg', :class => 'rsImg')
  .rContent
    =image_tag('womens-collection-2.jpg', :class => 'rsImg')  
  .rContent
    =image_tag('womens-collection-3.jpg', :class => 'rsImg')
  .rContent
    =image_tag('womens-collection-4.jpg', :class => 'rsImg')  
  .rContent
    =image_tag('womens-collection-5.jpg', :class => 'rsImg')





  