- content_for :page_js do
  = javascript_include_tag 'static_pages/index'

#mens-collection.landing-page-a
  %ul.entries.primary-grid
    %li.aspect-ratio-0
      .primary-slider.rsDefault.aspect-ratio-0
        .rsContent
          =link_to image_tag('mens_collection_1.jpg', :class => 'rsImg grid-image light-fade'),'#'
          .rollover
            .slide-title.big-title
              %h2=link_to 'spring / summer 2014', collection_path
              %h6 explore
              
    %li.aspect-ratio-1
      =link_to image_tag('mens_collection_2.jpg', :class => 'rsImg grid-image desktop-image light-fade'), '#'
      .rollover
        .slide-title
          %h2=link_to 'made to measure', '#'
          %h6 explore
        =render "shared/buttons-type-a"

    %li.aspect-ratio-2
      =link_to image_tag('mens_collection_3.jpg', :class => 'rsImg grid-image desktop-image'), '#'
      .rollover
        .slide-title
          %h2=link_to 'vakko handkerchiefs', '#'
          %h6 explore
        =render "shared/buttons-type-a"
    %li.aspect-ratio-1.right
      =link_to image_tag('mens_collection_4.jpg', :class => 'rsImg grid-image desktop-image'), '#'
      .rollover
        .slide-title
          %h2=link_to 'vakko perfume', '#'
          %h6 explore
        =render "shared/buttons-type-a"
    %li.aspect-ratio-1
      =link_to image_tag('mens_collection_5.jpg', :class => 'rsImg grid-image desktop-image light-fade'), '#'
      .rollover
        .slide-title
          %h2=link_to 'vakko shirts & ties', '#'
          %h6 explore
        =render "shared/buttons-type-a"
    %li.aspect-ratio-2
      =link_to image_tag('mens_collection_6.jpg', :class => 'rsImg grid-image desktop-image'), '#'
      .rollover
        .slide-title
          %h2=link_to 'vakko shoes', '#'
          %h6 explore
        =render "shared/buttons-type-a"