- content_for :page_js do
  = javascript_include_tag 'static_pages/lookbook'


#womans-collection-page.lookbook-slider.rsDefault
  .rsContent
    =image_tag('womens-collection-1.jpg', :class => 'rsImg')
    .slide-title
      %h2 spring summer 2014
      %h6 lookbook
    .info-slideout
      =link_to image_tag('button-close.png', :class => 'button-close'), '#'
      %h2 vakko woman
    .buttons
      =link_to image_tag('button-grid.png'), collection_grid_path
      =link_to image_tag('button-shop.png'), '#'
      =link_to image_tag('button-info.png', :class => 'button-show-info'), '#'
  .rsContent
    =image_tag('womens-collection-2.jpg', :class => 'rsImg')
    .info-slideout
      =link_to image_tag('button-close.png', :class => 'button-close'), '#'
      %h2 vakko woman
    .buttons
      =link_to image_tag('button-grid.png'), collection_grid_path
      =link_to image_tag('button-shop.png'), '#'
      =link_to image_tag('button-info.png', :class => 'button-show-info'), '#'
  .rsContent
    =image_tag('womens-collection-3.jpg', :class => 'rsImg')
    .info-slideout
      =link_to image_tag('button-close.png', :class => 'button-close'), '#'
      %h2 vakko woman
    .buttons
      =link_to image_tag('button-grid.png'), collection_grid_path
      =link_to image_tag('button-shop.png'), '#'
      =link_to image_tag('button-info.png', :class => 'button-show-info'), '#'
  .rsContent
    =image_tag('womens-collection-4.jpg', :class => 'rsImg')
    .info-slideout
      =link_to image_tag('button-close.png', :class => 'button-close'), '#'
      %h2 vakko woman
    .buttons
      =link_to image_tag('button-grid.png'), collection_grid_path
      =link_to image_tag('button-shop.png'), '#'
      =link_to image_tag('button-info.png', :class => 'button-show-info'), '#'
  .rsContent
    =image_tag('womens-collection-5.jpg', :class => 'rsImg')
    .info-slideout
      =link_to image_tag('button-close.png', :class => 'button-close'), '#'
      %h2 vakko woman
    .buttons
      =link_to image_tag('button-grid.png'), collection_grid_path
      =link_to image_tag('button-shop.png'), '#'
      =link_to image_tag('button-info.png', :class => 'button-show-info'), '#'
  .rsContent
    =image_tag('womens-collection-6.jpg', :class => 'rsImg')
    .info-slideout
      =link_to image_tag('button-close.png', :class => 'button-close'), '#'
      %h2 vakko woman
    .buttons
      =link_to image_tag('button-grid.png'), collection_grid_path
      =link_to image_tag('button-shop.png'), '#'
      =link_to image_tag('button-info.png', :class => 'button-show-info'), '#'





  