- content_for :page_js do
  = javascript_include_tag 'static_pages/lookbook-a'


#cruise-page.lookbook-a
  .buttons
    .triangle-bg
    =link_to image_tag('button-grid.png'), collection_grid_path, :class => 'button-show-grid'
    =link_to image_tag('button-shop.png'), '#'
    =link_to image_tag('button-info.png'), '#', :class => 'button-show-info'
  .info-slideout
    =link_to image_tag('button-close.png', :class => 'button-close'), '#'
    %h2 vakko cruise
    %h6 lorem ipsum
    %p The Vakko Woman 2014 Spring/Summer Collection
  .lookbook-slider.lookbook-slider-a.rsDefault
    .rsContent
      =image_tag('cruise_1.jpg', :class => 'rsImg')
      .slide-title
        %h2 vakko cruise
        %h6 lorem ipsum
    .rsContent
      =image_tag('cruise_2.jpg', :class => 'rsImg')
  .collection-grid.translucent.hidden
    =link_to image_tag('cruise_1-mobile.jpg'), '/cruise#-1'
    =link_to image_tag('cruise_2-mobile.jpg'), '/cruise#-2'