- content_for :page_js do
  = javascript_include_tag 'static_pages/lookbook-a'
  = javascript_include_tag 'static_pages/lookbook_subnav'


#espace_page.lookbook-a
  .buttons
    .triangle-bg
    =link_to image_tag('button-grid.png'), '#', :class => 'button-show-grid'
    =link_to image_tag('button-shop.png'), '#'
    =link_to image_tag('button-info.png'), '#', :class => 'button-show-info'
  .info-slideout
    =link_to image_tag('button-close.png', :class => 'button-close'), '#'
    %h2 Espace
    %h6 spring/summer 2014
    %p The Vakko Woman 2014 Spring/Summer Collection
  .lookbook-slider.lookbook-slider-a.rsDefault
    .rsContent
      =image_tag('espace_1.jpg', :class => 'rsImg')
      .slide-title
        %h2 Espace by sky
        %h6 lookbook
      .info-slideout
        =link_to image_tag('button-close.png', :class => 'button-close'), '#'
        %h2 vakko woman
    .rsContent
      =image_tag('espace_2.jpg', :class => 'rsImg')

    .rsContent
      =image_tag('espace_3.jpg', :class => 'rsImg')
      .info-slideout
        =link_to image_tag('button-close.png', :class => 'button-close'), '#'
        %h2 vakko woman
    .rsContent
      =image_tag('espace_4.jpg', :class => 'rsImg')
      .info-slideout
        =link_to image_tag('button-close.png', :class => 'button-close'), '#'
        %h2 vakko woman
    .rsContent
      =image_tag('espace_5.jpg', :class => 'rsImg')
      .info-slideout
        =link_to image_tag('button-close.png', :class => 'button-close'), '#'
        %h2 vakko woman
    .rsContent
      =image_tag('espace_6.jpg', :class => 'rsImg')
      .info-slideout
        =link_to image_tag('button-close.png', :class => 'button-close'), '#'
        %h2 vakko woman
        
  // GRID VIEW MARKUP
  .collection-grid.translucent.hidden
    =link_to image_tag('espace_1-mobile.jpg'), '/espace_by_sky#-1'
    =link_to image_tag('espace_2-mobile.jpg'), '/espace_by_sky#-2'
    =link_to image_tag('espace_3-mobile.jpg'), '/espace_by_sky#-3'
    =link_to image_tag('espace_4-mobile.jpg'), '/espace_by_sky#-4'
    =link_to image_tag('espace_5-mobile.jpg'), '/espace_by_sky#-5'
    =link_to image_tag('espace_6-mobile.jpg'), '/espace_by_sky#-6'
