%ul.entries.primary-grid
  %li.aspect-ratio-0
    =image_tag('fashion-1.jpg', :class => 'grid-image desktop-image')
  %li.aspect-ratio-1
    =image_tag('fashion-2.jpg', :class => 'grid-image desktop-image') 
  %li.aspect-ratio-2
    .quote
      %p
        And we know that, our life is Vakko <br/> before everything else...
      %h6
        Vitali hakko // 2000
  %li.aspect-ratio-2
    =image_tag('fashion-3.jpg', :class => 'grid-image desktop-image')
  
  %li.aspect-ratio-1.right
    =image_tag('fashion-5.jpg', :class => 'grid-image desktop-image')
  %li.aspect-ratio-2
    .quote
      %p
        And we know that, our life is Vakko <br/> before everything else...
      %h6
        Vitali hakko // 2000
  %li.aspect-ratio-2
    =image_tag('fashion-4.jpg', :class => 'grid-image desktop-image')
  %li.aspect-ratio-0.hundred-wide
    =image_tag('fashion-6.jpg', :class => 'grid-image desktop-image')
  %li.aspect-ratio-2
    =image_tag('fashion-7.jpg', :class => 'grid-image desktop-image')
  %li.aspect-ratio-2
    .quote
      %p
        And we know that, our life is Vakko <br/> before everything else...
      %h6
        Vitali hakko // 2000

