= javascript_include_tag 'static_pages/fashion'

#fashion-center
  %ul.entries.primary-grid
    %li.fashion-ratio-0
      =image_tag('fashion-1.jpg', :class => ' desktop-image')
    %li.fashion-ratio-1
      =image_tag('fashion-2.jpg', :class => ' desktop-image') 
    %li.fashion-ratio-2.white-bg
      .quote
        %h4
          vakko fashion center
        %p
          Vakko Fashion Center - Nakkastepe, a distinctive building that has made its way to contemporary architecture literature, is maintaing its function since January 2010.
    %li.fashion-ratio-2
      =image_tag('fashion-3.jpg', :class => ' desktop-image')
  
    %li.fashion-ratio-1.right
      =image_tag('fashion-5.jpg', :class => ' desktop-image')
    %li.fashion-ratio-2.white-bg
      .quote
        %h4
          world’s best work space
        %p
          In 2011, Vakko Fashion Center - Nakkastepe and Power Media Center were selected as the world’s best work space by Wallpaper, the cutl architecture magazine, and by Archdally, the international architecture platform
    %li.fashion-ratio-2
      =image_tag('fashion-4.jpg', :class => ' desktop-image')
    %li.fashion-ratio-0.hundred-wide
      =image_tag('fashion-6.jpg', :class => ' desktop-image')
    %li.fashion-ratio-2
      =image_tag('fashion-7.jpg', :class => ' desktop-image')
    %li.fashion-ratio-2.white-bg
      .quote
        %h4
          vakko fashion center
        %p
          Vakko Fashion Center - Nakkastepe adds value to Istanbul with its architecture that combines the brand’s deep-rooted history and design of the future. Vakko Fashion Center designed by REX, the well-known architectural firm based in New York, combines offices for all administrative units and creative staff, showrooms, the Vitalli Hakko Creative Industries Library, auditorium, gallery and museum as well as the Power Media Center, a Vakko sister-company, in an organic ensemble.
          