#handkerchiefs.landing-page-b
  =image_tag('handkerchief-bg-mobile.jpg')
  .land-page-b-text-wrapper
    .land-page-b-text
      %h5
        vakko handkerchief
      %p
        Vakko Shirt awaits its devotees with a very rich collection consisting of approximately 150 models in a variety of fabrics, colors and designs.
      %p
        Vakko City Shirts are manufactured in high quality cotton, gabardine and poplin fabric in oxford, pinpoint and fil-a-fil wave. In addition to shirts with classical collar and cuffs, the new season’s trend collar and cuffs offer a variety of alternatives.
      =link_to 'shop the collection', '#', :class => 'shop-button'
