- content_for :title, "WELCOME"

- content_for :page_js do
  = javascript_include_tag 'static_pages/index'



%ul.entries.primary-grid
  %li#collections
    .primary-slider.rsDefault.aspect-ratio-0
      .men
        =link_to image_tag('home-collection-1.jpg', :class => 'rsImg, grid-image'),'#'
        .rollover
          .slide-title
            %h2=link_to 'vakko collection', collection_men_path
            %h6 men
      .women
        =link_to image_tag('home-collection-2.jpg', :class => 'rsImg grid-image'),'#'
        .rollover
          .slide-title
            %h2=link_to 'vakko collection', collection_path
            %h6 women
  %li#wedding.aspect-ratio-1
    =link_to image_tag('home-wedding.jpg', :class => 'grid-image desktop-image light-fade'), wedding_path
    .rollover
      .slide-title.dark
        %h2=link_to 'vakko wedding', wedding_path
        %h6 explore
      =render "shared/buttons-type-a"

  %li#home.aspect-ratio-2
    =link_to image_tag('home-home.jpg', :class => 'grid-image  desktop-image'), home_path
    .rollover
      .slide-title
        %h2=link_to 'vakko home', home_path
        %h6 explore
      =render "shared/buttons-type-a"

  %li#cruise.aspect-ratio-2
    =link_to image_tag('home-cruise.jpg', :class => 'grid-image'), cruise_path
    .rollover
      .slide-title
        %h2=link_to 'vakko cruise', cruise_path
        %h6 explore
      =render "shared/buttons-type-a"

  %li#perfume.aspect-ratio-1
    =link_to image_tag('home-perfume.jpg', :class => 'grid-image'), perfume_path
    .rollover
      .slide-title
        %h2=link_to 'vakko perfume', perfume_path
        %h6 explore
      =render "shared/buttons-type-a"

  %li#espace-by-sky.aspect-ratio-2
    =link_to image_tag('home-espace.jpg', :class => 'grid-image'), espace_by_sky_path
    .rollover
      .slide-title
        %h2=link_to 'vakko espace', espace_by_sky_path
        %h6 explore
      =render "shared/buttons-type-a"

  %li#chocolate.aspect-ratio-2
    =link_to image_tag('home-chocolate.jpg', :class => 'grid-image'), chocolate_path
    .rollover
      .slide-title
        %h2=link_to 'vakko chocolate', chocolate_path
        %h6 explore
      =render "shared/buttons-type-a"

  %li#quote.aspect-ratio-2.white-bg
    .quote
      =image_tag('quote-mark.png')
      %p
        And we know that, our life is Vakko <br/> before everything else...
      %h6
        Vitali hakko // 2000
  %li#library.aspect-ratio-2
    =link_to image_tag('home-library.jpg', :class => 'grid-image'), library_path
    .rollover
      .slide-title
        %h2=link_to 'vakko library', library_path
        %h6 explore
      =render "shared/buttons-type-a"

  %li#heritage.aspect-ratio-1
    =link_to image_tag('home-heritage.jpg', :class => 'grid-image'), heritage_path
    .rollover
      .slide-title
        %h2=link_to 'vakko heritage', heritage_path
        %h6 explore
      =render "shared/buttons-type-a"

  %li#fashion-center.aspect-ratio-1
    =link_to image_tag('home-fashion-center.jpg', :class => 'grid-image'), heritage_path
    .rollover
      .slide-title
        %h2
          =link_to fashion_center_path do
            %span
              Vakko
            fashion center
        %h6 explore
      =render "shared/buttons-type-a"

  %li#vakkorama.aspect-ratio-3
    =link_to image_tag('home-vakkorama-color.jpg'), 'http://www.vakkorama.com.tr'
    =link_to image_tag('home-vakkorama-bw.jpg'), 'http://www.vakkorama.com.tr'
  %li#v2k.aspect-ratio-3
    =link_to image_tag('home-v2k-color.jpg'), 'http://v2kdesigners.com.tr'
    =link_to image_tag('home-v2k-bw.jpg'), 'http://v2kdesigners.com.tr'
  %li#wcollection.aspect-ratio-3
    =link_to image_tag('home-wcollection-color.jpg'), 'http://www.wcollection.com.tr'
    =link_to image_tag('home-wcollection-bw.jpg'), 'http://www.wcollection.com.tr'
  %li#power-fm.aspect-ratio-3
    =link_to image_tag('home-powerfm-color.jpg'), 'http://www.powerfm.com.tr'
    =link_to image_tag('home-powerfm-bw.jpg'), 'http://www.powerfm.com.tr'
  