- content_for :title, "WELCOME"

#collections.primary-slider.aspect-ratio-0
  =image_tag('home-collection-1.jpg', :class => 'rsImg')
  =image_tag('home-collection-2.jpg', :class => 'rsImg')

%ul.entries.primary-grid
  
    
  %li#wedding.aspect-ratio-1
    =link_to image_tag('home-wedding.jpg'), wedding_path
    .rollover.translucent
      %p
      .text.dark
        %h2 vakko wedding
        %h6 explore
      .buttons
        =link_to image_tag('button-shop.png'), '#'
        =link_to image_tag('button-play.png'), '#'
        =link_to image_tag('button-info.png'), '#'
  %li#home.aspect-ratio-2
    =link_to image_tag('home-home.jpg'), home_path
    .rollover.translucent
      %p
      .text
        %h2 vakko home
        %h6 explore
      .buttons
        =link_to image_tag('button-white-shop.png'), '#'
        =link_to image_tag('button-white-play.png'), '#'
        =link_to image_tag('button-white-info.png'), '#'
  %li#cruise.aspect-ratio-2
    =link_to image_tag('home-cruise.jpg'), cruise_path
    .rollover.translucent
      %p
      .text
        %h2 vakko cruise
        %h6 explore
      .buttons
        =link_to image_tag('button-white-shop.png'), '#'
        =link_to image_tag('button-white-play.png'), '#'
        =link_to image_tag('button-white-info.png'), '#'
  %li#perfume.aspect-ratio-1
    =link_to image_tag('home-perfume.jpg'), perfume_path
    .rollover.translucent
      %p
      .text
        %h2 vakko perfume
        %h6 explore
      .buttons
        =link_to image_tag('button-white-shop.png'), '#'
        =link_to image_tag('button-white-play.png'), '#'
        =link_to image_tag('button-white-info.png'), '#'
  %li#espace-by-sky.aspect-ratio-2
    =link_to image_tag('home-espace.jpg'), espace_by_sky_path
    .rollover.translucent
      %p
      .text
        %h2 vakko espace
        %h6 explore
      .buttons
        =link_to image_tag('button-white-shop.png'), '#'
        =link_to image_tag('button-white-play.png'), '#'
        =link_to image_tag('button-white-info.png'), '#'
  %li#chocolate.aspect-ratio-2
    =link_to image_tag('home-chocolate.jpg'), chocolate_path
    .rollover.translucent
      %p
      .text
        %h2 vakko espace
        %h6 explore
      .buttons
        =link_to image_tag('button-white-shop.png'), '#'
        =link_to image_tag('button-white-play.png'), '#'
        =link_to image_tag('button-white-info.png'), '#'
  %li#quote.aspect-ratio-2
    I'm a quote
  %li#library.aspect-ratio-2
    =link_to image_tag('home-library.jpg'), library_path
    .rollover.translucent
      %p
      .text
        %h2 vakko library
        %h6 explore
      .buttons
        =link_to image_tag('button-white-shop.png'), '#'
        =link_to image_tag('button-white-play.png'), '#'
        =link_to image_tag('button-white-info.png'), '#'
  %li#heritage.aspect-ratio-1
    =link_to image_tag('home-heritage.jpg'), heritage_path
    .rollover.translucent
      %p
      .text
        %h2 vakko heritage
        %h6 explore
      .buttons
        =link_to image_tag('button-white-shop.png'), '#'
        =link_to image_tag('button-white-play.png'), '#'
        =link_to image_tag('button-white-info.png'), '#'
  %li#fashion-center.aspect-ratio-1
    =link_to image_tag('home-fashion-center.jpg'), heritage_path
    .rollover.translucent
      %p
      .text
        %h2 vakko fashion center
        %h6 explore
      .buttons
        =link_to image_tag('button-white-shop.png'), '#'
        =link_to image_tag('button-white-play.png'), '#'
        =link_to image_tag('button-white-info.png'), '#'
  %li#vakkorama.aspect-ratio-3
    =link_to image_tag('home-vakkorama.jpg'), vakkorama_path
  %li#v2k.aspect-ratio-3
    =link_to image_tag('home-v2k.jpg'), v2k_path
  %li#wcollection.aspect-ratio-3
    =link_to image_tag('home-wcollection.jpg'), wcollection_path
  %li#power-fm.aspect-ratio-3
    =link_to image_tag('home-power-fm.jpg'), power_fm_path
  