- content_for :title, "WELCOME"




%ul.entries.primary-grid
  %li#collections
    .primary-slider.rsDefault.aspect-ratio-0
      .men
        =link_to image_tag('home-collection-1.jpg', :class => 'rsImg'),'#'
        .rollover
          .text
            %h2=link_to 'vakko collection', collection_path
            %h6 men
      .women
        =link_to image_tag('home-collection-2.jpg', :class => 'rsImg'),'#'
        .rollover
          .text
            %h2=link_to 'vakko collection', collection_path
            %h6 women
  %li#wedding.aspect-ratio-1
    =link_to image_tag('home-wedding.jpg'), wedding_path
    .rollover
      .text.dark
        %h2=link_to 'vakko wedding', wedding_path
        %h6 explore
      .buttons
        =link_to image_tag('button-shop.png'), '#'
        =link_to image_tag('button-play.png'), '#'
        =link_to image_tag('button-info.png'), '#'
  %li#home.aspect-ratio-2
    =link_to image_tag('home-home.jpg'), home_path
    .rollover
      .text
        %h2=link_to 'vakko home', home_path
        %h6 explore
      .buttons
        =link_to image_tag('button-white-shop.png'), '#'
        =link_to image_tag('button-white-play.png'), '#'
        =link_to image_tag('button-white-info.png'), '#'
  %li#cruise.aspect-ratio-2
    =link_to image_tag('home-cruise.jpg'), cruise_path
    .rollover
      .text
        %h2=link_to 'vakko cruise', cruise_path
        %h6 explore
      .buttons
        =link_to image_tag('button-white-shop.png'), '#'
        =link_to image_tag('button-white-play.png'), '#'
        =link_to image_tag('button-white-info.png'), '#'
  %li#perfume.aspect-ratio-1
    =link_to image_tag('home-perfume.jpg'), perfume_path
    .rollover
      .text
        %h2=link_to 'vakko perfume', perfume_path
        %h6 explore
      .buttons
        =link_to image_tag('button-white-shop.png'), '#'
        =link_to image_tag('button-white-play.png'), '#'
        =link_to image_tag('button-white-info.png'), '#'
  %li#espace-by-sky.aspect-ratio-2
    =link_to image_tag('home-espace.jpg'), espace_by_sky_path
    .rollover
      .text
        %h2=link_to 'vakko espace', espace_by_sky_path
        %h6 explore
      .buttons
        =link_to image_tag('button-white-shop.png'), '#'
        =link_to image_tag('button-white-play.png'), '#'
        =link_to image_tag('button-white-info.png'), '#'
  %li#chocolate.aspect-ratio-2
    =link_to image_tag('home-chocolate.jpg'), chocolate_path
    .rollover
      .text
        %h2=link_to 'vakko chocolate', chocolate_path
        %h6 explore
      .buttons
        =link_to image_tag('button-white-shop.png'), '#'
        =link_to image_tag('button-white-play.png'), '#'
        =link_to image_tag('button-white-info.png'), '#'
  %li#quote.aspect-ratio-2
    .quote
      =image_tag('quote-mark.png')
      %p
        And we know that, our life is Vakko <br/> before everything else...
      %h6
        Vitali hakko // 2000
  %li#library.aspect-ratio-2
    =link_to image_tag('home-library.jpg'), library_path
    .rollover
      .text
        %h2=link_to 'vakko library', library_path
        %h6 explore
      .buttons
        =link_to image_tag('button-white-shop.png'), '#'
        =link_to image_tag('button-white-play.png'), '#'
        =link_to image_tag('button-white-info.png'), '#'
  %li#heritage.aspect-ratio-1
    =link_to image_tag('home-heritage.jpg'), heritage_path
    .rollover
      .text
        %h2=link_to 'vakko heritage', heritage_path
        %h6 explore
      .buttons
        =link_to image_tag('button-white-shop.png'), '#'
        =link_to image_tag('button-white-play.png'), '#'
        =link_to image_tag('button-white-info.png'), '#'
  %li#fashion-center.aspect-ratio-1
    =link_to image_tag('home-fashion-center.jpg'), heritage_path
    .rollover
      .text
        %h2
          =link_to fashion_center_path do
            %span
              Vakko
            fashion center
        %h6 explore
      .buttons
        =link_to image_tag('button-white-shop.png'), '#'
        =link_to image_tag('button-white-play.png'), '#'
        =link_to image_tag('button-white-info.png'), '#'
  %li#vakkorama.aspect-ratio-3
    =link_to image_tag('home-vakkorama-color.jpg'), vakkorama_path
    =link_to image_tag('home-vakkorama-bw.jpg'), vakkorama_path
  %li#v2k.aspect-ratio-3
    =link_to image_tag('home-v2k-color.jpg'), v2k_path
    =link_to image_tag('home-v2k-bw.jpg'), v2k_path
  %li#wcollection.aspect-ratio-3
    =link_to image_tag('home-wcollection-color.jpg'), wcollection_path
    =link_to image_tag('home-wcollection-bw.jpg'), wcollection_path
  %li#power-fm.aspect-ratio-3
    =link_to image_tag('home-powerfm-color.jpg'), power_fm_path
    =link_to image_tag('home-powerfm-bw.jpg'), power_fm_path
  