- content_for :title, "WELCOME"

%ul.entries.primary-grid
  %li#collection.aspect-ratio-0=link_to image_tag('home-collection-1.jpg'), collection_path
  %li#wedding.aspect-ratio-1=link_to image_tag('home-wedding.jpg'), wedding_path
  %li#home.aspect-ratio-2=link_to image_tag('home-home.jpg'), home_path
  %li#cruise.aspect-ratio-2=link_to image_tag('home-cruise.jpg'), cruise_path
  %li#perfume.aspect-ratio-1=link_to image_tag('home-perfume.jpg'), perfume_path
  %li#espace-by-sky.aspect-ratio-2=link_to image_tag('home-espace.jpg'), espace_by_sky_path
  %li#chocolate.aspect-ratio-2=link_to image_tag('home-chocolate.jpg'), chocolate_path
  %li#quote.aspect-ratio-2
    I'm a quote
  %li#library.aspect-ratio-2=link_to image_tag('home-library.jpg'), library_path
  %li#heritage.aspect-ratio-1=link_to image_tag('home-heritage.jpg'), heritage_path
  %li#fashion-center.aspect-ratio-1=link_to image_tag('home-fashion-center.jpg'), heritage_path
  %li#vakkorama.aspect-ratio-3=link_to image_tag('home-vakkorama.jpg'), vakkorama_path
  %li#v2k.aspect-ratio-3=link_to image_tag('home-v2k.jpg'), v2k_path
  %li#wcollection.aspect-ratio-3=link_to image_tag('home-wcollection.jpg'), wcollection_path
  %li#power-fm.aspect-ratio-3=link_to image_tag('home-power-fm.jpg'), power_fm_path
  