- content_for :page_js do
  = javascript_include_tag 'static_pages/lookbook'


.lookbook-slider.lookbook-b.rsDefault
  .rsContent
    =image_tag('couture-1.jpg', :class => 'rsImg')
    .slide-title
      %h2 vakko couture
      %h6 SPECTACULAR FASHION

  .rsContent
    =image_tag('couture-2.jpg', :class => 'rsImg')

  .rsContent
    =image_tag('couture-3.jpg', :class => 'rsImg')

  .rsContent
    =image_tag('couture-4.jpg', :class => 'rsImg')


.lookbook-b.bottom.clearfix
  #couture-menu.image-holder
    .text
      %h6 vakko couture
      %p Vakko Couture brings the world’s most distinctive brands with their most exlusive collections to Vakko. Drapes, laces, low-cuts, sparkling embroideries... This season’s creations with backgrounds of jewellry colors and metallic tones include surpirisng innovations.
    =image_tag('couture-bottom-1.jpg', :class => 'rsImg')
  .menu
    %ul
      %li BADGLEY MISHCKA COLLECTION
      %li BADGLEY MISHKA COUTURE
      %li ELIE SAAB
      %li GABRIELA CADENA
      %li GEORGES HOBEIKA
      %li JAY AHR
      %li JENNY PACKHAM