#made-to-measure-page.landing-page-b
  =image_tag('perfume-bg-mobile.jpg')
  .land-page-b-text-wrapper
    .land-page-b-text
      %h5
        made to measure
      %p
        Lorem Ipsum.
      =link_to 'shop the collection', '#', :class => 'shop-button'
