#made-to-measure-page.landing-page-b
  =image_tag('made-to-measure-bg-mobile.jpg')
  .land-page-b-text-wrapper
    .land-page-b-text
      %h5
        made to measure
      %p
        Vakko Made to Measure for the most privileged self-expression of the perfect garment… The opportunity to make a choice among the world’s best quality fabrics and accessories and personalized taste into a perfect garment in the experienced hands of Italian tailors in Vakko’s workshops in Italy.
        %br
        %span.first-span For more information:
        %span 0212 482 04 04
        %span.block ozeldikim@vakko.com.tr

      =link_to 'made to measure', '#', :class => 'shop-button'
