#mens-perfume-page.landing-page-b
  =image_tag('perfume-vde-bg-mobile.jpg')
  .land-page-b-text-wrapper
    .land-page-b-text
      %h5
        vakko men's perfume
      %p
        The perfume of the “Vakko Man” who does not give up anything. Neither nature or the cities, nor the seas or the skys.