- content_for :page_js do
  = javascript_include_tag 'static_pages/lookbook-a'


#monogram.lookbook-a
  .buttons
    .triangle-bg
    =link_to image_tag('button-grid.png'), '#', :class => 'button-show-grid'
    =link_to image_tag('button-info.png'), '#', :class => 'button-show-info'
  .info-slideout
    =link_to image_tag('button-close.png', :class => 'button-close'), '#'
    %h2 vakko monogram
  .lookbook-slider.lookbook-slider-a.rsDefault
    .rsContent
      =image_tag('monogram-1.jpg', :class => 'rsImg first-slide')
      .slide-title
        %h2 vakko monogram
        %h6 explore
      .info-slideout
        =link_to image_tag('button-close.png', :class => 'button-close'), '#'
        %h2 vakko woman
    .rsContent
      =image_tag('monogram-2.jpg', :class => 'rsImg')

    .rsContent
      =image_tag('monogram-3.jpg', :class => 'rsImg')
      .info-slideout
        =link_to image_tag('button-close.png', :class => 'button-close'), '#'
        %h2 vakko woman
    .rsContent
      =image_tag('monogram-4.jpg', :class => 'rsImg')
      .info-slideout
        =link_to image_tag('button-close.png', :class => 'button-close'), '#'
        %h2 vakko woman
    .rsContent
      =image_tag('monogram-5.jpg', :class => 'rsImg')
      .info-slideout
        =link_to image_tag('button-close.png', :class => 'button-close'), '#'
        %h2 vakko woman
    .rsContent
      =image_tag('monogram-6.jpg', :class => 'rsImg')
      .info-slideout
        =link_to image_tag('button-close.png', :class => 'button-close'), '#'
        %h2 vakko woman
        // GRID VIEW MARKUP
  .collection-grid.translucent.hidden
    =link_to image_tag('womens_collection_1-mobile.jpg'), '/collection#-1'
    =link_to image_tag('womens_collection_2-mobile.jpg'), '/collection#-2'
    =link_to image_tag('womens_collection_3-mobile.jpg'), '/collection#-3'
    =link_to image_tag('womens_collection_4-mobile.jpg'), '/collection#-4'
    =link_to image_tag('womens_collection_5-mobile.jpg'), '/collection#-5'
    =link_to image_tag('womens_collection_6-mobile.jpg'), '/collection#-6'