#perfume-page.landing-page-b
  =image_tag('perfume-bg-mobile.jpg')
  .perfume-text-wrapper 
    .perfume-text
      %h5
        vakko perfume
      %p
        Vakko’s Katia, a combination of roses and jasmin, conveys a feeling of continuity from past to future.
      =link_to 'shop the collection', '#', :class => 'shop-button'
  