- content_for :page_js do
  = javascript_include_tag 'static_pages/index'

#perfume-page
  %ul.entries.primary-grid
    %li.aspect-ratio-0
      .primary-slider.rsDefault.aspect-ratio-0
        .rsContent
          =link_to image_tag('perfume_1.jpg', :class => 'rsImg, grid-image light-fade'),'#'
          .rollover
            .slide-title.big-title
              %h2=link_to 'vakko perfume', collection_path
              %h6 explore
        .rsContent
          =link_to image_tag('perfume_1.jpg', :class => 'rsImg grid-image light-fade'),'#'
        .rsContent
          =link_to image_tag('perfume_1.jpg', :class => 'rsImg grid-image light-fade'),'#'
        .rsContent
          =link_to image_tag('perfume_1.jpg', :class => 'rsImg grid-image light-fade'),'#'

              
    %li.aspect-ratio-1
      =link_to image_tag('perfume_2.jpg', :class => 'rsImg grid-image desktop-image light-fade'), '#'
      .rollover
        .slide-title.dark
          %h2=link_to 'vakko perfume', womens_perfume_path
          %h6 explore

    %li.aspect-ratio-4.quarter-width
      =link_to image_tag('perfume_3.jpg', :class => 'rsImg grid-image desktop-image'), '#'
      .rollover
        .slide-title
          %h2=link_to 'vakko perfume', womens_shoes_path
          %h6 explore

    %li.aspect-ratio-4.quarter-width.right
      =link_to image_tag('perfume_4.jpg', :class => 'rsImg grid-image desktop-image'), '#'
      .rollover
        .slide-title
          %h2=link_to 'vakko perfume', bags_path
          %h6 explore

    %li.aspect-ratio-1.right
      =link_to image_tag('perfume_5.jpg', :class => 'rsImg grid-image desktop-image light-fade'), '#'
      .rollover
        .slide-title
          %h2=link_to 'vakko perfume', scarves_path
          %h6 explore

    %li.aspect-ratio-1
      =link_to image_tag('perfume_6.jpg', :class => 'rsImg grid-image desktop-image light-fade'), '#'
      .rollover
        .slide-title
          %h2=link_to 'vakko perfume', couture_path
          %h6 explore

    %li.aspect-ratio-2
      =link_to image_tag('perfume_7.jpg', :class => 'rsImg grid-image desktop-image'), '#'
      .rollover
        .slide-title
          %h2=link_to 'vakko perfume', monogram_path
          %h6 explore
