#shirts-and-ties.landing-page-b
  =image_tag('perfume-bg-mobile.jpg')
  .land-page-b-text-wrapper
    .land-page-b-text
      %h5
        vakko shirts & ties
      %p
        Lorem Ipsum
      =link_to 'shop the collection', '#', :class => 'shop-button'
