#templates
  %h2 Templates
  %ul
    %li=link_to 'Home Page', root_path
    %li=link_to 'Landing Page A', womens_collection_path
    %li=link_to 'Landing Page B', perfume_path
    %li=link_to 'Lookbook A', collection_path
    %li=link_to 'Lookbook B', lookbook_b_path
    %li=link_to 'Timeline', heritage_path
    %li=link_to 'Fashion Center', fashion_center_path
    %li=link_to 'Chocolate', chocolate_path
