- content_for :page_js do
  = javascript_include_tag 'static_pages/lookbook_b'

.triangle-bg
.lookbook-b-slider.lookbook-b.rsDefault
  .rsContent
    =image_tag('womens-shoes-1.jpg', :class => 'rsImg')
    .slide-title
      %h2 vakko shoes
      %h6 SPECTACULAR FASHION

  .rsContent
    =image_tag('womens-shoes-2.jpg', :class => 'rsImg')

  .rsContent
    =image_tag('womens-shoes-3.jpg', :class => 'rsImg')


#womens_shoes.lookbook-b.bottom.clearfix
  #view-lower-content
    =image_tag('back-button.gif', :class => 'back-button', :id => 'lower-content-back')
    %p view designers
  #lower-content-menu.image-holder
    .text
      %h6 vakko shoes
      %p Vakko Couture brings the world’s most distinctive brands with their most exlusive collections to Vakko. Drapes, laces, low-cuts, sparkling embroideries... This season’s creations with backgrounds of jewellry colors and metallic tones include surpirisng innovations.
    =image_tag('shoes-fpo.jpg', :class => 'rsImg')
  .menu
    %ul
      %li=link_to 'ALBERTO MORETTI', { :controller => "womens_shoes", :action => "alberto_moretti" }, :remote => true
      %li=link_to 'ANYA HINDMARCH', { :controller => "womens_shoes", :action => "anya_hindmarch" }, :remote => true
      %li=link_to 'balmain', { :controller => "womens_shoes", :action => "balmain" }, :remote => true
      %li=link_to 'BRIAN ATWOOD', { :controller => "womens_shoes", :action => "brian_atwood" }, :remote => true
      %li=link_to 'CASADEI', { :controller => "womens_shoes", :action => "casadei" }, :remote => true
      %li=link_to 'CHARLOTTE OLYMPIA', { :controller => "womens_shoes", :action => "charlotte_olympia" }, :remote => true
      %li=link_to 'COCCINELLE', { :controller => "womens_shoes", :action => "coccinelle" }, :remote => true
      %li=link_to 'ELIE SAAB', { :controller => "womens_shoes", :action => "elie_saab" }, :remote => true
      %li=link_to 'EMILIO PUCCI', { :controller => "womens_shoes", :action => "emilio_pucci" }, :remote => true
      %li=link_to 'EMPORIO ARMANI', { :controller => "womens_shoes", :action => "emporio_armani" }, :remote => true
      %li=link_to 'ERMANNO SCERVINO', { :controller => "womens_shoes", :action => "ermanno_scervino" }, :remote => true
      %li=link_to 'FRATELLI ROSSETTI', { :controller => "womens_shoes", :action => "fratelli_rossetti" }, :remote => true
      %li=link_to 'FRATELLI ROSSETTI ONE', { :controller => "womens_shoes", :action => "fratelli_rossetti_one" }, :remote => true
      %li=link_to 'GIAMBATTISTA VALLI', { :controller => "womens_shoes", :action => "giambattista_valli" }, :remote => true
      %li=link_to 'GINA', { :controller => "womens_shoes", :action => "gina" }, :remote => true
      %li=link_to 'GIORGIO ARMANI', { :controller => "womens_shoes", :action => "giorgio_armani" }, :remote => true
      %li=link_to 'J.M.CAZABAT', { :controller => "womens_shoes", :action => "jm_cazabat" }, :remote => true
      %li=link_to 'LANCEL', { :controller => "womens_shoes", :action => "lancel" }, :remote => true
      %li=link_to 'MARY KATRANTZOU', { :controller => "womens_shoes", :action => "mary_katrantzou" }, :remote => true
      %li=link_to 'MONIQUE LHUILLIER', { :controller => "womens_shoes", :action => "monique_lhuillier" }, :remote => true
      %li=link_to 'O JOUR', { :controller => "womens_shoes", :action => "o_jour" }, :remote => true
      %li=link_to 'OSCAR DE LA RENTA', { :controller => "womens_shoes", :action => "oscar_de_la_renta" }, :remote => true
      %li=link_to 'PAULE KA', { :controller => "womens_shoes", :action => "paule_ka" }, :remote => true
      %li=link_to 'PEDRO GARCIA', { :controller => "womens_shoes", :action => "pedro_garcia" }, :remote => true
      %li=link_to 'PHILIPP PLEIN', { :controller => "womens_shoes", :action => "philipp_plein" }, :remote => true
      %li=link_to 'POLLINI', { :controller => "womens_shoes", :action => "pollini" }, :remote => true
      %li=link_to 'POLLINI STUDIO', { :controller => "womens_shoes", :action => "pollini_studio" }, :remote => true
      %li=link_to 'ROBERTO CAVALLI', { :controller => "womens_shoes", :action => "roberto_cavalli" }, :remote => true
      %li=link_to 'ROCIO', { :controller => "womens_shoes", :action => "rocio" }, :remote => true
      %li=link_to 'SANTONI', { :controller => "womens_shoes", :action => "santoni" }, :remote => true
      %li=link_to 'SERAPIAN', { :controller => "womens_shoes", :action => "serapian" }, :remote => true
      %li=link_to 'SOPHIA WEBSTER', { :controller => "womens_shoes", :action => "sophia_webster" }, :remote => true
      %li=link_to 'STUART WEITZMAN', { :controller => "womens_shoes", :action => "stuart_weitzman" }, :remote => true
      %li=link_to 'V 73', { :controller => "womens_shoes", :action => "v_73" }, :remote => true
      %li=link_to 'VERSACE', { :controller => "womens_shoes", :action => "versace" }, :remote => true
      %li=link_to 'VICINI', { :controller => "womens_shoes", :action => "vicini" }, :remote => true
      %li=link_to 'WALTER STEIGER', { :controller => "womens_shoes", :action => "walter_steiger" }, :remote => true
