#womens_shoes.landing-page-b
  =image_tag('womens-shoes-bg-mobile.jpg')
  .land-page-b-text-wrapper
    .land-page-b-text
      %h5
        vakko shoes
      %p
        Lorem Ipsum
      =link_to 'shop the collection', '#', :class => 'shop-button'
