- content_for :designer_name do
  charlotte olympia

- content_for :designer_images do
  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('charlotte-1.jpg', :class => 'lower-content-image')

  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('charlotte-2.jpg', :class => 'lower-content-image')
  
  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('charlotte-3.jpg', :class => 'lower-content-image')
  
  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('charlotte-4.jpg', :class => 'lower-content-image')    

  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('charlotte-5.jpg', :class => 'lower-content-image')
  
  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('charlotte-6.jpg', :class => 'lower-content-image')
    
  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('charlotte-7.jpg', :class => 'lower-content-image')
  
  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('charlotte-8.jpg', :class => 'lower-content-image')
    
  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('charlotte-9.jpg', :class => 'lower-content-image')
       
  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('charlotte-10.jpg', :class => 'lower-content-image')
  
  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('charlotte-11.jpg', :class => 'lower-content-image')  
  
  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('charlotte-12.jpg', :class => 'lower-content-image'  
  
  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('charlotte-13.jpg', :class => 'lower-content-image')  
  
  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('charlotte-14.jpg', :class => 'lower-content-image')
    
  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('charlotte-15.jpg', :class => 'lower-content-image')  

  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('charlotte-16.jpg', :class => 'lower-content-image')
       
= render "shared/designer_page"
    
      	