.lower-content-left
  .slide-title
    .triangle-bg
    %h2= yield(:designer_name)
    =image_tag('back-button.gif', :class => 'back-button')

    .rsArrow.rsArrowLeft.left
      .rsArrowIcn
    .rsArrow.rsArrowRight.left
      .rsArrowIcn

.lower-content-right
  .lower-content-slider
    = yield(:designer_images)