#primary-menu
  %h1 vakko
    
  %ul
    %li=link_to 'collection', static_pages_collection_path
    %li=link_to 'wedding', static_pages_collection_path    
    %li=link_to 'home', static_pages_collection_path
    %li=link_to 'cruise', static_pages_collection_path
    %li=link_to 'espace by sky', static_pages_collection_path
    %li=link_to 'perfume', static_pages_collection_path
    %li=link_to 'chocolate', static_pages_collection_path

  %ul
    %li=link_to 'Heritage', static_pages_collection_path
    %li=link_to 'Vitali hakko creative industries library', static_pages_collection_path
    %li=link_to 'headquarters', static_pages_collection_path
    %li=link_to 'vakko corporate book', static_pages_collection_path
    %li=link_to 'vakko group', static_pages_collection_path

  %p vakko shop