#subnav-menu
  =image_tag('marker.png', :id => 'marker')
  %ul
    %li Women 
    %li spring/summer 2014 
    %li=link_to 'scarves', "#"
    %li=link_to 'shoes', '#'
    %li=link_to 'bags', '#'
    %li=link_to 'ACCESORIEs', '#'
    %li=link_to 'perfume', '#'
    %li=link_to 'couture', '/lookbook_b'

  %span.menu-divider.mobile-visible

  %ul
    %li Men
    %li spring/summer 2014 
    %li=link_to 'Shirt', '#'
    %li=link_to 'Ties', '#'
    %li=link_to 'ACCESORIEs', '#'
    %li=link_to 'perfume', '#'
    %li=link_to 'executive', '#'
    %li=link_to 'gift line', '#'
    %li=link_to 'made to measure', '#'

