#subnav-menu-mens.subnav-menu
  men
  =image_tag('marker.png', :id => 'marker')
  %ul
    %li=link_to "lookbook '14", collection_men_path, :class => ''
    %li=link_to 'Shirt & Ties', shirts_and_ties_path
    %li=link_to 'handkerchiefs', handkerchiefs_path
    %li=link_to 'perfume', mens_perfume_path
    %li=link_to 'made to measure', made_to_measure_path
    %li=link_to 'shoes', made_to_measure_path

#subnav-menu-womens.subnav-menu
  women
  =image_tag('marker.png', :id => 'marker')
  %ul
    %li=link_to "lookbook '14", collection_path, :class => ''
    %li=link_to 'shoes', '#'
    %li=link_to 'bags', '#'
    %li=link_to 'perfume', womens_perfume_path
    %li=link_to 'scarves', "#"
    %li=link_to 'couture', '/lookbook_b'
    %li=link_to 'monogram', '#'
    
#subnav-menu-headquarters.subnav-menu
  headquarters
  =image_tag('marker.png', :id => 'marker')
  %ul
    %li=link_to 'couture', '/lookbook_b'
    %li=link_to 'monogram', '#'