- content_for :designer_name do
  berta

- content_for :designer_images do
  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('berta-1.jpg', :class => 'lower-content-image')

  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('berta-2.jpg', :class => 'lower-content-image')
  
  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('berta-3.jpg', :class => 'lower-content-image')
  
  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('berta-4.jpg', :class => 'lower-content-image')    

  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('berta-5.jpg', :class => 'lower-content-image')
  
  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('berta-6.jpg', :class => 'lower-content-image')
    
  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('berta-7.jpg', :class => 'lower-content-image')
  
  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('berta-8.jpg', :class => 'lower-content-image')
 
= render "shared/designer_page"