- content_for :designer_name do
  anya hindmarch

- content_for :designer_images do

  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('anya-1.jpg', :class => 'lower-content-image')

  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('anya-2.jpg', :class => 'lower-content-image')
  
  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('anya-3.jpg', :class => 'lower-content-image')
  
  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('anya-4.jpg', :class => 'lower-content-image')    

  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('anya-5.jpg', :class => 'lower-content-image')
  
  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('anya-6.jpg', :class => 'lower-content-image')
    
  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('anya-7.jpg', :class => 'lower-content-image')
  
  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('anya-8.jpg', :class => 'lower-content-image') 
  
  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('anya-9.jpg', :class => 'lower-content-image')
  
  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('anya-10.jpg', :class => 'lower-content-image')       	
    
= render "shared/designer_page"     