- content_for :designer_name do
  baraboux

- content_for :designer_images do
  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('baraboux-1.jpg', :class => 'lower-content-image')

  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('baraboux-2.jpg', :class => 'lower-content-image')
  
  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('baraboux-3.jpg', :class => 'lower-content-image')
  
  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('baraboux-4.jpg', :class => 'lower-content-image')    

  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('baraboux-5.jpg', :class => 'lower-content-image')
  
  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('baraboux-6.jpg', :class => 'lower-content-image')
    
  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('baraboux-7.jpg', :class => 'lower-content-image')
  
  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('baraboux-8.jpg', :class => 'lower-content-image') 
  
  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('baraboux-9.jpg', :class => 'lower-content-image')
  
  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('baraboux-10.jpg', :class => 'lower-content-image')

  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('baraboux-11.jpg', :class => 'lower-content-image')
    
= render "shared/designer_page"