@import "mixins/typography";
@import "mixins/breakpoints";
#chocolate-page {
  background-color:#f9f4ed;
  background:asset_url('chocolate-bg-noise.gif', image);
  overflow-x:hidden;
  #module-top, #module-bottom {
    position:relative;
    > img {
      width:100%;
      position:relative;
      display:block;
      @media(max-width: $breakpoint-b) {
        display:none;
      }
    }

    .slide-title {
      height:56px;
      h2 {
        font-size:$seventh-position;
        color:#653e31;
      }
      h6 {
        color:#653e31;
      }
    }
    
  }
  #module-top {
    @media(max-width: $breakpoint-b) {
      background:asset_url('chocolate-top-bg-mobile.jpg', image);
      background-size:cover;
    }
    .slide-title {
      margin-top:-20px;
      position:absolute;
      top:50%;
      width:60%;
      @media(max-width: $breakpoint-b) {
        text-align:left;
        padding-left:15px;
      }
    }
  }
  #module-bottom {
    .chocolate-slider-b.chocolate-arrows {
      height:708px;
      width:100%;
      .rsArrow {
        height: 100%;
        width: 44px;
        position: absolute;
        display: block;
        cursor: pointer;
        z-index: 21;
        .rsSlideCount {
          right: 22px;
          position: absolute;
          top: 26%;
          width: 40px;
          padding-top:2px;
          font-weight:600;
          @include grid-subheadline;
          letter-spacing:0px;
        }
        .rsArrowIcn {
          width: 32px;
          height: 32px;
          top: 27%;
          left: 50%;
          margin-top:-16px; 
          margin-left: -16px;

          position: absolute; 
          cursor: pointer;  
          background: asset_url('rs-default.png', image);

          border-radius: 2px;
        }
        &.rsArrowDisabled {
          opacity:.3;
        }
        &.rsArrowLeft {
          top:0;
          left:60px;
          .rsArrowIcn { 
            background-position: -64px -32px;
          }
        }
        &.rsArrowRight {
          top:0;
          right:60px;
          .rsArrowIcn { background-position: -64px -64px; }
        }
      }
      > ul {
        width:100%;
        height:100%;
        li {
          text-align:center;
          padding:0 5%;
          > img {
            @media(max-width: $breakpoint-b) {
              width:100%;
            }
          }
          h6 {
            @include grid-subheadline;
            margin-bottom:10px;
          }
          p {
            margin:auto;
            @include body-copy;
            max-width:520px;
          }
          // another button i need to refactor
          > a {
            @include grid-subheadline;
            color:#231f20;
            margin-top:55px;
            display:inline-block;
            border:rgba(71,71,88,.6) 1px solid;
            padding:13px 30px;
            margin-bottom:48px;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            transition: all 0.3s ease;
            &:hover {
              background-color:#231f20;
              color:#f8f3ed;
            }
          }
        }
      }
    }
    // not actually in a slide. its above the bottom slider
    .slide-title {
      position:relative;
      margin-top:300px;
      margin-bottom:60px;
      h2, h6 {
        color:#684739;
      }
    }
    > img {
      position:absolute;
    }


    #chocolate-message {
      background: asset_url('chocolate-noise.gif', image);
      position: relative;
      z-index: 3;
      > p:nth-of-type(-n+2) {
        @include grid-subheadline;
        line-height:1.9;
        padding-top:16px;
        color:#f4eae5;
        font-weight:200;
        text-align:center;
        position:relative;
        @media(min-width: $breakpoint-b1) {
          width:600px;
          margin-left:-320px;
          left:50%;
          font-size:20px;
        }
        @media(max-width: $breakpoint-b) {
          width:100%;
          font-size:14px;
        }
      }
      //just the first one
      > p:nth-of-type(1) {
        @media(min-width: $breakpoint-b1) {
          padding-top:100px;
        }
        @media(max-width: $breakpoint-b) {
          padding:0 15px;
          padding-top:50px;
        }
      }
      //just the second one
      > p:nth-of-type(2) {
        @media(min-width: $breakpoint-b1) {
          padding-bottom:100px;
        }
        @media(max-width: $breakpoint-b) {
          padding-bottom:52px;
        }
      }
    }
    .chocolate-slider-a {
      width:90%;
      position:relative;
      margin:auto;
      #choco-btm-bg {
        position:absolute;
        bottom:-260px;
        width:112%;
        margin-left:-6%;
        @media(max-width: $breakpoint-b) {
          position: absolute;
          bottom: -130px;
          width: 192%;
          margin-left: -76%;
        }
      }
      .choco-slider-nav-a {
        position:relative;
        text-align:center;
        background:#fff;
        max-width:1120px;
        margin:auto;
        color:#d2c1bd;
        @media(max-width: $breakpoint-b) {
          display:none;
        }
        span {
          top: 2px;
          position: relative;
        }
        a {
          @include grid-subheadline;
          display:inline-block;
          padding-top:40px;
          padding-bottom:12px;
          color:#d2c1bd;
          &.choco-nav-active {
            color:#4f3933;
          }
          &:hover {
            color:#4f3933;
          }
          -webkit-transition: color 0.3s ease;
          -moz-transition: color 0.3s ease;
          -o-transition: color 0.3s ease;
          -ms-transition: color 0.3s ease;
          transition: color 0.3s ease;
        }
      }
      ul {
        background:#fff;
        position:relative;
        width:100%;
        max-width:1120px;
        height:580px;
        margin:auto;
        li {
          padding-top:70px;
          position:relative;
          height:100%;
          @media(max-width: $breakpoint-b) {
            padding-top:40px;
          }
          img {
            width:100%;
          }
          .image-holder {
            width:50%;
            @media(max-width: $breakpoint-b) {
              width: 70%;
              margin: auto;
            }
            &.image-holder-right {
              position:absolute;
              right:0;
            }
          }
          .text-holder {
            min-height:420px;
            width:50%;
            position:absolute;
            top:90px;
            left:auto;
            right:0px;
            @media(max-width: $breakpoint-b) {
              position:relative;
              width:80%;
              margin:auto;
              top:30px;
            }
            &.text-holder-left {
              left:0;
            }
            .slide-text {
              width:100%;
              max-width:400px;
              position:absolute;
              text-align:center;

              @media(min-width: $breakpoint-b1) {
                left:50%;
                margin-left:-200px;
              }
              h6 {
                @include grid-subheadline;
                margin-bottom:16px;
                color:#4f3933;
              }
              p:nth-of-type(1) {
                margin-bottom:65px;
                @include body-copy;
                color:#8e6552;
                @media(max-width: $breakpoint-b) {
                  margin-bottom:20px;
                }
                
              }
              p.callout {
                @include callout;
                font-size:22px;
                color:#6c4439;
              }
            }
          }
          .shop-chocolate {
            @include grid-subheadline;
            text-align:center;
            border:1px solid #8f8f8f;
            width:220px;
            height:38px;
            padding:13px;
            color:#000;
            margin:auto;
            position:absolute;
            bottom:50px;
            left:50%;
            margin-left:-110px;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            transition: all 0.3s ease;
            &:hover {
              background-color:#371b1d;
              color:#fff;
            }
          }
        }
      }
    }
  }
}
  