@import "mixins/typography";
@import "mixins/breakpoints";

.collection-slider {
  width:100%;
  height:100%;
  .rsSlideCount {
    left:-30px;
    opacity:1!important;
  }
  .slide-title {
    height:56px;
    top:50%;
    position:absolute;
    margin-top:-20px;
    color:#fff;
    width:100%;
    text-align:center;
    h2 {
      @include grid-headline;
      font-size:$seventh-position;
      color:#5a5550;
    }
    h6 {
      @include grid-subheadline;
      color:#5a5550;
    }
  }
  .buttons {
    position:absolute;
    top:17px;
    right:15px;
    display:inline-block;
    a {
      display:inline-block;
      padding:0 4px;
      img {
        opacity:.3;
        -webkit-transition: opacity 0.5s ease;
        -moz-transition: opacity 0.5s ease;
        -o-transition: opacity 0.5s ease;
        -ms-transition: opacity 0.5s ease;
        transition: opacity 0.5s ease;
        &:hover {
          opacity:1;
        }
      }
    }
  }
}