@import "mixins/typography";
@import "mixins/breakpoints";
body.heritage #content-area {
  @media(min-width: $breakpoint-b1) {
    height:100%;
    overflow:hidden;
  }
  @media(max-width: $breakpoint-b) {
    background:#fff;
  }  
}
#heritage-page {
  height:100%;
  .heritage-slider {
    height:100%;
  }
  .heritage-caption {
    background-color:#fff;
    @media(min-width: $breakpoint-b1) {
      width:800px;
      height:136px;
      position:absolute;
      bottom:50px;
      left:50%;
      margin-left:-400px;
      z-index:22;
      padding:30px;
    }
    @media(max-width: $breakpoint-b) {
      width:100%;
      left:0;
      top:0;
      margin-left:0;
      position:relative;
      padding:24px;
    }
    .date, .caption {
      display:inline-block;
    }
    .date {
      width:250px;
      display:block;
      margin:auto;
      @media(max-width: $breakpoint-b) {
        position:relative;
        margin-bottom:20px;
      }
      @media(min-width: $breakpoint-b1) {
        position:absolute;
        top:48px;        
      }
      @include big-date;
      font-size:40px;
      text-align:center;
    }
    .caption {
      @include body-copy;
      position:relative;
      @media(max-width: $breakpoint-b) {
        text-align:center;
      }
      @media(min-width: $breakpoint-b1) {
        left:250px;
        width:470px;
      }
    }
    .rsArrow {
      height: 100%;
      width: 44px;
      position: absolute;
      display: block;
      cursor: pointer;
      z-index: 21;
      top:8px;
      .rsArrowIcn {
        width: 32px;
        height: 32px;
        top: 27%;
        left: 50%;
        margin-top:-16px; 
        margin-left: -16px;
        position: absolute; 
        cursor: pointer;  
        background: asset_url('rs-default-large.png', image);
        border-radius: 2px;
      }
      &.rsArrowDisabled {
        opacity:.3;
      }
      &.rsArrowLeft {
        @media(max-width: $breakpoint-b) {
          left:28px;
        }
        @media(min-width: $breakpoint-b1) {
          left:28px;
        }
        .rsArrowIcn { 
          background-position:  -78px -171px;
        }
      }
      &.rsArrowRight {
        @media(max-width: $breakpoint-b) {
          left:174px;
        }
        @media(min-width: $breakpoint-b1) {
          right:28px;
        }
        .rsArrowIcn { 
          background-position:  -84px -99px;
        }
      }
    }
  }
  .vertical-date-menu {
    height:100%;
    width:43px;
    position:absolute;
    top:0;
    right:0;
    background:#121212;
    text-align:center;
    overflow:scroll;
    background-color:#231f20;
    @media(max-width: $breakpoint-b) {
      display:none;
    }
    span {
      @include grid-subheadline;
      font-size:11px;
      font-weight:100;
      color:#3b3a3a;
      letter-spacing:1px;
      padding:9px 0;
      display:block;
      -webkit-transition: color 0.3s ease;
      -moz-transition: color 0.3s ease;
      -o-transition: color 0.3s ease;
      -ms-transition: color 0.3s ease;
      transition: color 0.3s ease;
      &.date-active {
        color:#FFF;
      }
    }
  }
}