@import "mixins/typography";
@import "mixins/breakpoints";
body.heritage #content-area {
  overflow:hidden;
  height:100%;
}
#heritage-page {
  height:100%;
  .heritage-slider {
    height:100%;
  }
  .heritage-caption {
    width:800px;
    height:136px;
    position:absolute;
    bottom:50px;
    left:50%;
    margin-left:-400px;
    background-color:#fff;
    padding:30px;
    z-index:22;
    .date, .caption {
      display:inline-block;
    }
    .date {
      @include big-date;
      width:250px;
      font-size:40px;
      position:absolute;
      text-align:center;
      top:48px;
    }
    .caption {
      @include body-copy;
      width:470px;
      position:relative;
      left:250px;
    }
    .rsArrow {
      height: 100%;
      width: 44px;
      position: absolute;
      display: block;
      cursor: pointer;
      z-index: 21;
      top:8px;

      .rsArrowIcn {
        width: 32px;
        height: 32px;
        top: 27%;
        left: 50%;
        margin-top:-16px; 
        margin-left: -16px;

        position: absolute; 
        cursor: pointer;  
        background: asset_url('rs-default.png', image);

        border-radius: 2px;
      }
      &.rsArrowDisabled {
        opacity:.3;
      }
      &.rsArrowLeft {
        left:28px;
        .rsArrowIcn { 
          background-position: -64px -32px;
        }
      }
      &.rsArrowRight {
        right:28px;
        .rsArrowIcn { background-position: -64px -64px; }
      }
    }
  }
  .vertical-date-menu {
    height:100%;
    width:43px;
    position:absolute;
    top:0;
    right:0;
    background:#121212;
    text-align:center;
    overflow:scroll;
    background-color:#231f20;
    span {
      @include grid-subheadline;
      font-size:11px;
      font-weight:100;
      color:#3b3a3a;
      letter-spacing:1px;
      padding:9px 0;
      display:block;
      -webkit-transition: color 0.3s ease;
      -moz-transition: color 0.3s ease;
      -o-transition: color 0.3s ease;
      -ms-transition: color 0.3s ease;
      transition: color 0.3s ease;
      &.date-active {
        color:#FFF;
      }
    }
  }
}