@import "mixins/typography";
@import "mixins/breakpoints";
//slider styles START
#collections {
  position:relative;
  .primary-slider {
    width: 100%;
    height: 300px;
    background:#121212;
    img.rsImg {
      max-width:100%;
    }
  }
}
//slider styles END

ul.entries {
  width:100%;
   > li {
    width:100%;
    float:left;
    position:relative;
    background-size:cover;
    background-repeat:no-repeat;
    &.quarter-width {
      @media(min-width: $breakpoint-b1) {
        width:25%;
      }
    }
    @media(max-width: $breakpoint-b) {
      .women, .men {
        height:100%;
        width:100%;
        background-repeat:no-repeat;
        background-size:cover;
      }
      .women {
        background-image: asset_url('home-women-mobile@2x.jpg', image);
      }
      .men {
        background-image: asset_url('home-men-mobile@2x.jpg', image);
      }
    }
    // set the sliders width here
    @media(min-width: $breakpoint-c) {
      width:50%;
    }
    &.aspect-ratio-3 {
      @media(max-width: $breakpoint-b) {
        display:none;
      }
    }
    &:first-child {
      width:100%;
    }
    &:hover {
      .rollover {
        opacity:1;
      }
      @media(min-width: $breakpoint-b1) {
        //the additional -> .women & .men classes are to include the slider
        > a img, .grid-image {
          opacity:.2;
        }
        .light-fade {
          opacity:.4;
        }
      }
    }
    a > img, > img {
      width:100%;
      display:block;
      height:auto;
      -webkit-transition: opacity 0.3s ease;
      -moz-transition: opacity 0.3s ease;
      -o-transition: opacity 0.3s ease;
      -ms-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
      @media(max-width: $breakpoint-b) {
        height:100%;
        width:auto;
        opacity:1;
      }
    }
    .rollover {
      height:100%;
      width:100%;
      position:absolute;
      top:0;
      left:0;
      text-align:center;
      @media(min-width: $breakpoint-b1) {
        opacity:0;
      }
      -webkit-transition: opacity 0.3s ease;
      -moz-transition: opacity 0.3s ease;
      -o-transition: opacity 0.3s ease;
      -ms-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
      
      .slide-title {
        height:56px;
        top:50%;
        position:relative;
        margin-top:-30px;
        color:#fff;
        @media(max-width: $breakpoint-b) {
          background-color:rgba(0,0,0,.8);
          width:90%;
          max-width:420px;
          margin:0 auto;
          margin-top:-50px;
          padding:28px 0;
          height:95px;
        }
        h2 a {
          @include grid-headline;
        }
        h6 {
          @include grid-subheadline;
        }
        &.big-title h2 a {
          font-size:$seventh-position;
          margin-bottom:20px;
          @media(max-width: $breakpoint-b) {
           font-size:24px;
          }
        }
        &.dark {
          color:#3d3d3d;
          a {
            color:#3d3d3d;
          }
        }
      }
      .buttons {
        position:absolute;
        bottom:36px;
        left:50%;
        margin-left:-75px;
        @media(max-width: $breakpoint-b) {
          display:none;
        }
        a {
          display:inline-block;
          margin-right:6px;
          &:hover {
            img {
              opacity:.9;
            }
          }
          img {
            opacity:.3;
            -webkit-transition: opacity 0.5s ease;
            -moz-transition: opacity 0.5s ease;
            -o-transition: opacity 0.5s ease;
            -ms-transition: opacity 0.5s ease;
            transition: opacity 0.5s ease;
          }
        }
      }
    }
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;

    //all slides
    @media(max-width: $breakpoint-b) {
      a > img {
        display:none;
      }
    }
    
    &#wedding {
      background-color:#f3e1d1;
      //swap images for s all screen devices
      @media(max-width: $breakpoint-b) {
        background-image: asset_url('home-wedding-mobile@2x.jpg', image);
        .slide-title {
          background-color:rgba(243,225,209,.6);
        }
      }
    }
    &#home {
      background-color:#191919;
      @media(max-width: $breakpoint-b) {
        background-image: asset_url('home-home-mobile@2x.jpg', image) ;
        .slide-title {
          background-color:rgba(25,25,25,.8);
        }
      }
    }
    &#cruise {
      background-color:#025078;
      @media(max-width: $breakpoint-b) {
        background-image: asset_url('home-cruise-mobile@2x.jpg', image);
        .slide-title {
          background-color:rgba(2,80,120,.8);
        }
      }
    }
    &#perfume {
      background-color:#d89e8f;
      float:right;
      
      @media(max-width: $breakpoint-b) {
        background-image: asset_url('home-perfume-mobile@2x.jpg', image) ;
        .slide-title {
          background-color:rgba(240,211,203,.8);
        }
      }
    }
    &#espace-by-sky {
      background-color:#1c1614;
      
      @media(max-width: $breakpoint-b) {
        background-image: asset_url('home-espace-mobile@2x.jpg', image) ;
        .slide-title {
          background-color:rgba(50,30,40,.8);
        }
      }
    }
    &#chocolate {
      background-color:#1c1614;
      clear:left;
      @media(max-width: $breakpoint-b) {
        background-image: asset_url('home-chocolate-mobile@2x.jpg', image) ;
        .slide-title {
          background-color:rgba(53,34,19,.8);
        }
      }
    }
    &#library {
      background-color:#1c1614;
      @media(max-width: $breakpoint-b) {
        background-image: asset_url('home-library-mobile@2x.jpg', image) ;
        .slide-title {
          background-color:rgba(109,69,25,.8);
        }
      }
    }
    &#heritage {
      background-color:#34271c;
      @media(max-width: $breakpoint-b) {
        background-image: asset_url('home-heritage-mobile@2x.jpg', image);
        .slide-title {
          background-color:rgba(52,39,28,.8);
        }
      }
    }
    &#fashion-center {
      background-color:#2e5d87;
      @media(max-width: $breakpoint-b) {
        background-image: asset_url('home-fashion-mobile@2x.jpg', image) ;
        .slide-title {
          background-color:rgba(46,93,135,.8);
        }
      }
    }
    &#vakkorama {
      width:25%;
      background-color:#444;
    }
    &#v2k {
      width:25%;
      background-color:#4c4c4c;
    }
    &#wcollection {
      width:25%;
      background-color:#555;
    }
    &#power-fm {
      width:25%;
      background-color:#5c5c5c;
    }
    // hover states for images that go from bw to color
    &#vakkorama, &#v2k, &#wcollection, &#power-fm {
      > a img {
        width:100%;
        position:absolute;
        top:0;
        left:0;
      }
      &:hover {
        > a:nth-of-type(1) img {
          opacity:1;
        }
        > a:nth-of-type(2) img {
          opacity:0;
        }
      }
    }
  }
}
