@import "mixins/typography";
//slider styles START
#collections {
  position:relative;
  #slider-controls {
    position:absolute;
    bottom:0px;
    left:50%;
    margin-left:-90px;
    z-index:400;
    #slider-prev, #slider-next {
      padding:30px 7px;
      display:inline-block;
      cursor:pointer;
      &:hover {
        span {
          opacity:1;
        }
      }
      span {
      opacity:.3;
      width:75px;
      height:3px;
      background:#fff;
      display:block;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
      -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.5);
      box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.5);
      &.active {
        opacity:1;
      }
      }
    }
    #slider-prev {
    }
  }
  .primary-slider {
    width: 100%;
    height: 300px;
    background:#121212;
    .rsArrow {
      display: block;
      top: 0;
      left: 0;
      position: relative;
      height: 20px;
      width: 20px;
      background: green;
    }
    img.rsImg {
      max-width:100%;
    }
    .next-slide {
      position:relative;
      z-index:200;
    }
  }
}
//slider styles END

ul.entries {
  width:100%;
   > li {
    width:50%;
    float:left;
    position:relative;
    // set the sliders width here
    &:first-child {
      width:100%;
    }
    &:hover {
      .rollover {
        opacity:1;
      }
      //the additional -> .women & .men classes are to include the slider
      > a img, .women img, .men img {
        opacity:.2;
      }
    }
    a {
      img {
        width:100%;
        height:auto;
        -webkit-transition: opacity 0.3s ease;
        -moz-transition: opacity 0.3s ease;
        -o-transition: opacity 0.3s ease;
        -ms-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease;
      }
    }
    .rollover {
      height:100%;
      width:100%;
      position:absolute;
      top:0;
      left:0;
      text-align:center;
      -webkit-transition: opacity 0.3s ease;
      -moz-transition: opacity 0.3s ease;
      -o-transition: opacity 0.3s ease;
      -ms-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
      .text {
          h2 {
            @include grid-headline;
          }
          h6 {
            @include grid-subheadline;
          }
          height:56px;
          top:50%;
          position:relative;
          margin-top:-30px;
          color:white;
          &.dark {
            color:#3d3d3d;
          }
      }
      .buttons {
        position:absolute;
        bottom:36px;
        left:50%;
        margin-left:-75px;
        a {
          display:inline-block;
          margin-right:6px;
          &:hover {
            img {
              opacity:.9;
            }
          }
          img {
            opacity:.3;
            -webkit-transition: opacity 0.5s ease;
            -moz-transition: opacity 0.5s ease;
            -o-transition: opacity 0.5s ease;
            -ms-transition: opacity 0.5s ease;
            transition: opacity 0.5s ease;
          }
        }
      }
    }
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;


    &#wedding {
      background-color:#f3e1d1;
      &:hover {
        > a img {
          opacity:.4;
        }
      }
    }
    &#home {
      background-color:#191919;
    }
    &#cruise {
      background-color:#025078;
    }
    &#perfume {
      background-color:#d89e8f;
      float:right;
    }
    &#espace-by-sky {
      background-color:#1c1614;
    }
    &#chocolate {
      background-color:#1c1614;
      clear:left;
    }
    &#library {
      background-color:#1c1614;
    }
    &#heritage {
      background-color:#34271c;
    }
    &#fashion-center {
      background-color:#2e5d87;
    }
    &#vakkorama {
      width:25%;
      background-color:#444;
    }
    &#v2k {
      width:25%;
      background-color:#4c4c4c;
    }
    &#wcollection {
      width:25%;
      background-color:#555;
    }
    &#power-fm {
      width:25%;
      background-color:#5c5c5c;
    }
    // hover states for images that go from bw to color
    &#vakkorama, &#v2k, &#wcollection, &#power-fm {
      >a img {
        width:100%;
        position:absolute;
        top:0;
        left:0;
      }
      &:hover {
        > a:nth-of-type(1) img {
          opacity:1;
        }
        > a:nth-of-type(2) img {
          opacity:0;
        }
      }
    }
  }
}
