@import "mixins/typography";
@import "mixins/breakpoints";
//slider styles START
#collections {
  position:relative;
  .text h2 a {font-size:$seventh-position;}
  .primary-slider {
    width: 100%;
    height: 300px;
    background:#121212;
    img.rsImg {
      max-width:100%;
    }
  }
}
//slider styles END

ul.entries {
  width:100%;
   > li {
    width:100%;
    float:left;
    position:relative;
    // set the sliders width here
    @media(min-width: $breakpoint-c) {
      width:50%;
    }
    &.aspect-ratio-3 {
      @media(max-width: $breakpoint-b) {
        display:none;
      }
    }
    &:first-child {
      width:100%;
    }
    &:hover {
      .rollover {
        opacity:1;
      }
      //the additional -> .women & .men classes are to include the slider
      > a img, .women img, .men img {
        opacity:.2;
      }
    }
    a {
      img {
        width:100%;
        height:auto;
        -webkit-transition: opacity 0.3s ease;
        -moz-transition: opacity 0.3s ease;
        -o-transition: opacity 0.3s ease;
        -ms-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease;
        @media(max-width: $breakpoint-b) {
          height:320px;
          display:none;
        }
      }
    }
    .rollover {
      height:100%;
      width:100%;
      position:absolute;
      top:0;
      left:0;
      text-align:center;
      @media(min-width: $breakpoint-b1) {
        opacity:0;
      }
      -webkit-transition: opacity 0.3s ease;
      -moz-transition: opacity 0.3s ease;
      -o-transition: opacity 0.3s ease;
      -ms-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
      
      .text {
          h2 a {
            @include grid-headline;
          }
          h6 {
            @include grid-subheadline;
          }
          height:56px;
          top:50%;
          position:relative;
          margin-top:-30px;
          color:#fff;
          &.dark {
            color:#3d3d3d;
            a {
              color:#3d3d3d;
            }
          }
      }
      .buttons {
        position:absolute;
        bottom:36px;
        left:50%;
        margin-left:-75px;
        @media(max-width: $breakpoint-b) {
          display:none;
        }
        a {
          display:inline-block;
          margin-right:6px;
          &:hover {
            img {
              opacity:.9;
            }
          }
          img {
            opacity:.3;
            -webkit-transition: opacity 0.5s ease;
            -moz-transition: opacity 0.5s ease;
            -o-transition: opacity 0.5s ease;
            -ms-transition: opacity 0.5s ease;
            transition: opacity 0.5s ease;
          }
        }
      }
    }
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;


    &#wedding {
      background-color:#f3e1d1;
      &:hover {
        > a img {
          opacity:.4;
        }
      }
    }
    &#home {
      background-color:#191919;
    }
    &#cruise {
      background-color:#025078;
    }
    &#perfume {
      background-color:#d89e8f;
      float:right;
    }
    &#espace-by-sky {
      background-color:#1c1614;
    }
    &#chocolate {
      background-color:#1c1614;
      clear:left;
    }
    &#library {
      background-color:#1c1614;
    }
    &#heritage {
      background-color:#34271c;
    }
    &#fashion-center {
      background-color:#2e5d87;
    }
    &#vakkorama {
      width:25%;
      background-color:#444;
    }
    &#v2k {
      width:25%;
      background-color:#4c4c4c;
    }
    &#wcollection {
      width:25%;
      background-color:#555;
    }
    &#power-fm {
      width:25%;
      background-color:#5c5c5c;
    }
    // hover states for images that go from bw to color
    &#vakkorama, &#v2k, &#wcollection, &#power-fm {
      >a img {
        width:100%;
        position:absolute;
        top:0;
        left:0;
      }
      &:hover {
        > a:nth-of-type(1) img {
          opacity:1;
        }
        > a:nth-of-type(2) img {
          opacity:0;
        }
      }
    }
  }
}
