@import "mixins/typography";
@import "mixins/breakpoints";

body.collection #content-area, body.espace_by_sky #content-area, body.cruise #content-area, body.home #content-area, body.scarves #content-area, body.production_center #content-area, body.creative_industries_library #content-area, body.espace_by_sky #content-area, body.lookbook_men #content-area {
  overflow:hidden;
  height:100%;
  &.grid-open {
    overflow:initial;
    height:auto;
  }
}

.lookbook-a { 
  width:100%; 
  height:100%;
  // Buttons. don't forget to delete the other button stuff
  .rsImage {
    opacity:.5!important;
  }
  .buttons {
     position:absolute;
     top:17px;
     right:19px;
     display:inline-block;
     z-index:22;
     @media(max-width: $breakpoint-b) {
       top:0px;
       right:0;
       padding:25px 15px;
     }
     
     .triangle-bg {
       width: 0;
       height: 0;
       border-style: solid;
       border-width: 0 200px 200px 0;
       border-color: transparent rgba(0,0,0,.3) transparent transparent;
       position:absolute;
       top:0;
       right:0 ;
       @media(min-width: $breakpoint-b1) {
         display:none;
       }
     }
     a {
       display:inline-block;
    //   padding:0 4px;
       width:46px;
       height:46px;
       margin-left:8px;
       position:relative;
       &:nth-child(2) {
         @media(max-width: $breakpoint-b) {
           background-image: asset_url('button-grid-white.png', image);
         }
       }
       &:nth-child(3) {
         @media(max-width: $breakpoint-b) {
           display:none;
         }
       }
       &:nth-child(4) {
         @media(max-width: $breakpoint-b) {
           background-image: asset_url('button-info-white.png', image);
         }
       }
       @media(max-width: $breakpoint-b) {
         opacity:.3;
       }
       img {
         opacity:.3;
         -webkit-transition: opacity 0.5s ease;
         -moz-transition: opacity 0.5s ease;
         -o-transition: opacity 0.5s ease;
         -ms-transition: opacity 0.5s ease;
         transition: opacity 0.5s ease;
         &:hover {
           opacity:1;
         }
         @media(max-width: $breakpoint-b) {
           display:none;
         }
       }
     }
   }
   .info-slideout {
     background:#fff;
     height:100%;
     padding:132px 78px;
     position:absolute;
     right:0;
     top:0;
     z-index:23;
     width:480px;
     max-width:480px;
     margin-right:-480px;// super important
     overflow:hidden;
     -webkit-transition: margin 0.5s ease;
     -moz-transition: margin 0.5s ease;
     -o-transition: margin 0.5s ease;
     -ms-transition: margin 0.5s ease;
     transition: margin 0.5s ease;
     @media(max-width: $breakpoint-b) {
      width:100%;
//      margin-right:-100%;
     }
     .button-close {
       position:absolute;
       top:21px;
       right:20px;
     }
     h2 {
       @include grid-headline;
       color:#5b5b5b;
       margin-bottom:66px;
     }
     h6 {
       @include grid-subheadline;
       font-size:11px;
       letter-spacing:1px;
       font-weight:600;
       color:#535353;
       margin-bottom:14px;
     }
     p {
       @include proximaSB;
       font-size:13px;
       font-weight:500;
       color:#9e9e9e;
     }
   }
  .lookbook-slider-a {
    width:100%;
    height:100%;
    @media(max-width: $breakpoint-b) {
     .slide-img-wrap {
       img {
        // display:none;
       }
     }
     .rsSlide {
       .slide-img-wrap {
         background-size:contain;
         background-repeat:no-repeat;
         height:100%;
         background-position:center;;
       }
      }
    }
    .rsArrow {

    }
    .rsArrowIcn {
      background-color:transparent;
      @media(max-width: $breakpoint-b) {
        display:none!important;
      }
      &:hover {
        background-color:transparent;
      }
    }
    .rsArrowRight {
      margin-right:64px;
    }
    .rsArrowLeft {
      margin-left:64px;
    }
    .rsSlideCount {
      @include grid-subheadline;
      letter-spacing:0px;
      position: absolute;
      cursor: pointer;
      @media(min-width: $breakpoint-b1) {
        top: 50%;
        left: 16px;
        margin-top: -16px;
        margin-left: -38px;
        color:#5a5550;
        font-size:11px;
        width: 32px;
        height: 32px;
        padding-top: 10px;
      }
      @media(max-width: $breakpoint-b) {
        top: 140px;
        right: 13px;
        color:#e4e4e4;
        font-size:18px;
        width:60px;
        position:fixed;
      }
    }

    .slide-title {
      @media(max-width: $breakpoint-b) {
        display:none;
      }
      height:56px;
      top:50%;
      position:absolute;
      margin-top:-20px;
      color:#fff;
      width:100%;
      text-align:center;
      h2 {
        @include grid-headline;
        font-size:$seventh-position;
        color:#5a5550;
      }
      h6 {
        @include grid-subheadline;
        color:#5a5550;
      }
    }
  }
}
.collection-grid {
  background:#212121;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:99999;
  -webkit-transition: opacity 0.7s ease-in-out;
  -moz-transition: opacity 0.7s ease-in-out;
  -o-transition: opacity 0.7s ease-in-out;
  -ms-transition: opacity 0.7s ease-in-out;
  transition: opacity 0.7s ease-in-out;
  a {
    //this is all a little weird to avoid gaps with inline-block. 
    width:33.333%;
    display:inline-block;
    margin-right:-4px;
    margin-bottom:-4px;
    -webkit-transition: opacity 0.7s ease-in-out;
    -moz-transition: opacity 0.7s ease-in-out;
    -o-transition: opacity 0.7s ease-in-out;
    -ms-transition: opacity 0.7s ease-in-out;
    transition: opacity 0.7s ease-in-out;
    img {
      width:100%;
      display:block;
    }
  }
}