@import "mixins/typography";
@import "mixins/breakpoints";

#templates {
  text-align:center;
  padding-top:130px;
  h2 {
    @include grid-headline;
    color:#bbb9b9;
  }
  ul {
    li {
      a {
        @include grid-subheadline;
        padding:14px 4px;
        color:#6a6a6a;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
        &:hover {
          color:#aaa;
        }
      }
    }
  }
}