@import "mixins/breakpoints";

#home-interior-page {
  @media(max-width: $breakpoint-b) {
    .slide-img-wrap {
      img {
        display:none;
      }
    }
    .rsSlide {
      .slide-img-wrap {
        background-size:cover;
        height:100%;
      }
      #image-1 {
        .slide-img-wrap {
          background-image: asset_url('home_1-mobile.jpg', image);
        }
      }
      #image-2 {
        .slide-img-wrap {
          background-image: asset_url('home_2-mobile.jpg', image);
        }
      }
      #image-3 {
        .slide-img-wrap {
          background-image: asset_url('home_3-mobile.jpg', image);
        }
      }
      #image-4 {
        .slide-img-wrap {
          background-image: asset_url('home_4-mobile.jpg', image);
        }
      }
      #image-5 {
        .slide-img-wrap {
          background-image: asset_url('home_5-mobile.jpg', image);
        }
      }
      #image-6 {
        .slide-img-wrap {
          background-image: asset_url('home_6-mobile.jpg', image);
        }
      }
      #image-7 {
        .slide-img-wrap {
          background-image: asset_url('home_1-mobile.jpg', image);
        }
      }
      #image-8 {
        .slide-img-wrap {
          background-image: asset_url('home_2-mobile.jpg', image);
        }
      }
      #image-9 {
        .slide-img-wrap {
          background-image: asset_url('home_3-mobile.jpg', image);
        }
      }
      #image-10 {
        .slide-img-wrap {
          background-image: asset_url('home_4-mobile.jpg', image);
        }
      }
      #image-11 {
        .slide-img-wrap {
          background-image: asset_url('home_5-mobile.jpg', image);
        }
      }
      #image-12 {
        .slide-img-wrap {
          background-image: asset_url('home_6-mobile.jpg', image);
        }
      }
      #image-13 {
        .slide-img-wrap {
          background-image: asset_url('home_6-mobile.jpg', image);
        }
      }
     #image-14 {
        .slide-img-wrap {
          background-image: asset_url('home_6-mobile.jpg', image);
        }
      }
    }
  }
}

