@import "mixins/typography";
@import "mixins/breakpoints";

.lookbook-b.lookbook-slider {

  .rsArrow.rsArrowDisabled {
    .rsArrowIcn { 
      opacity:.4;
    }
  }
  .rsArrowIcn { 
    background: asset_url('rs-default-gold.png', image);  
  }

  .rsSlideCount {
    background:none;
     color:#cdbc92;
  }

  .slide-title {
    h2, h6 { color:#cdbc92;}
  }
}
.lookbook-b.bottom {
  background:#fff;
  width:100%;
  > * {
    float:left;
  }
  .image-holder {
    width:75%;
    position:relative;
    &#couture-menu
      .text {
        position:absolute;
        right:70px;
        top:50%;
        margin-top:-100px;
        z-index:1;
        width:50%;
        max-width:520px;
        text-align:center;
        h6 {
          color:#fff;
          @include grid-subheadline;
          margin-bottom:12px;
        }
        p {
          @include body-copy;
          font-size:16px;
          font-weight:200;
          color:#d4d4d4;
        }
      }
      > img {
        position:relative;
        width:100%;
        display:block;
      }
  }
  .menu {
    padding:40px;
    @include grid-subheadline;
    width:25%;
    line-height:1;
    height:100%;
    overflow:scroll;
    li {
      margin-bottom:12px;
    }
  }
}