@import "mixins/typography";
@import "mixins/breakpoints";

body.lookbook_b #content-area {
  height:100%;
}
.lookbook-b.lookbook-slider {
  height:100%;
  .rsArrow.rsArrowDisabled {
    .rsArrowIcn { 
      opacity:.4;
    }
  }
  .rsArrowIcn { 
    background: asset_url('rs-default-gold.png', image);  
  }
  .rsArrowRight {
    margin-right:64px;
  }
  .rsArrowLeft {
    margin-left:64px;
  }



  .rsSlideCount {
    @include grid-subheadline;
    letter-spacing:0px;
    position: absolute;
    cursor: pointer;
    color:#cdbc92;
    @media(min-width: $breakpoint-b1) {
      top: 50%;
      left: 16px;
      margin-top: -16px;
      margin-left: -38px;
      color:#cdbc92;
      font-size:11px;
      width: 32px;
      height: 32px;
      padding-top: 10px;
    }
    @media(max-width: $breakpoint-b) {
      top: 140px;
      right: 13px;
      font-size:18px;
      width:inherit;
      position:fixed;
    }
  }

  .slide-title {
    h2, h6 { color:#cdbc92;}
  }
}
.lookbook-b.bottom {
  background:#fff;
  width:100%;
  > * {
    float:left;
  }
  .image-holder {
    width:75%;
    position:relative;
    -webkit-box-shadow: inset -36px 0px 30px -38px rgba(50, 50, 50, 0.15);
    -moz-box-shadow:    inset -36px 0px 30px -38px rgba(50, 50, 50, 0.15);
    box-shadow:         inset -36px 0px 30px -38px rgba(50, 50, 50, 0.15);
    &#couture-menu
      .text {
        position:absolute;
        right:70px;
        top:50%;
        margin-top:-100px;
        z-index:1;
        width:50%;
        max-width:520px;
        text-align:center;
        h6 {
          color:#fff;
          @include grid-subheadline;
          margin-bottom:12px;
        }
        p {
          @include body-copy;
          font-size:16px;
          font-weight:200;
          color:#d4d4d4;
        }
      }
      > img {
        position:relative;
        width:100%;
        display:block;
      }
  }
  .menu {
    padding:40px;
    @include grid-subheadline;
    width:25%;
    line-height:1;
    height:100%;
    overflow:scroll;
    li {
      a {
        padding:6px 0;
      }
    }
  }
}