@import "mixins/breakpoints";
@import "mixins/typography";


#fashion-center {
  //hide the word VAKKO on small screens
  @media(max-width: $breakpoint-b) {
    h2 a > span {
      display:none;
    }
  }
  //not really a quote, but I'm using the class anywqay
  .quote {
    padding:0 44px;
    h4 {
      @include grid-headline;
      font-size:$seventh-position;
      color:#434343;
      font-size:32px;
    }
    p {
      @include body-copy;
      color:#9e9e9e;
      font-style:initial;
      max-width:440px;
      margin:auto;
    }
  }
}

//force things with hiddden sibling to be visible
@media(max-width: $breakpoint-b) {
  .mobile-visible {
    display:block!important;
  }
}

// override bullet nav styles
.primary-slider.rsDefault {
  .rsBullets {
    line-height:1;
    background:none;
    @media(max-width: $breakpoint-b) {
      display:none;
    }
    .rsBullet {
    padding:43px 0;
    cursor:pointer;
    width:100px;
    height:3px;
    &:hover {
      span {
        opacity:1;
      }
    }
    span {
      border-radius:0;
      width:75px;
      height:3px;
      margin:0;
      display:inline-block;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.3);
      -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.3);
      box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.3);
    }
    }
  }
}