@import "mixins/breakpoints";


//hide the word VAKKO on small screens
#fashion-center {
  @media(max-width: $breakpoint-b) {
    h2 a > span {
      display:none;
    }
  }
}

// override bullet nav styles
.primary-slider.rsDefault {
  .rsBullets {
    line-height:1;
    background:none;
    @media(max-width: $breakpoint-b) {
      display:none;
    }
    .rsBullet {
    padding:43px 0;
    cursor:pointer;
    width:100px;
    height:3px;
    &:hover {
      span {
        opacity:1;
      }
    }
    span {
      border-radius:0;
      width:75px;
      height:3px;
      margin:0;
      display:inline-block;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.3);
      -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.3);
      box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.3);
    }
    }
  }
}