@import "mixins/typography";
@import "mixins/breakpoints";

#scarves {
  ul {
    > li {
      &:nth-child(1) {
        background-color:#cc6715;
        @media(max-width: $breakpoint-b) {
          background-image: asset_url('homepage_hero-women-2-mobile.jpg', image);
          .slide-title {
            background-color:rgba(204,103,21,.8);
          }
        }
      }
      &:nth-child(2) {
        background-color:#f3e1d1;
        @media(max-width: $breakpoint-b) {
          background-image: asset_url('womens_collection_2@2x.jpg', image);
          .slide-title {
            background-color:rgba(243,225,209,.6);
          }
        }
      }
      &:nth-child(3) {
        background-color:#d58074;
        @media(max-width: $breakpoint-b) {
          background-image: asset_url('womens_collection_3@2x.jpg', image);
          .slide-title {
            background-color:rgba(25,25,25,.6);
          }
        }
      }
      &:nth-child(4) {
        background-color:#172f79;
        @media(max-width: $breakpoint-b) {
          background-image: asset_url('womens_collection_4@2x.jpg', image);
          .slide-title {
            background-color:rgba(74,56,80,.6);
          }
        }
      }
      &:nth-child(5) {
        background-color:#a12f23;
        @media(max-width: $breakpoint-b) {
          background-image: asset_url('womens_collection_5@2x.jpg', image);
          .slide-title {
            background-color:rgba(168,160,141,.6);
          }
        }
      }
      &:nth-child(6) {
        background-color:#544436;
        @media(max-width: $breakpoint-b) {
          background-image: asset_url('womens_collection_6@2x.jpg', image);
          .slide-title {
            background-color:rgba(213,81,58,.6);
          }
        }
      }
      &:nth-child(7) {
        background-color:#272314;
        @media(max-width: $breakpoint-b) {
          background-image: asset_url('womens_collection_7@2x.jpg', image);
          .slide-title {
            background-color:rgba(49,34,12,.6);
          }
        }
      }
      a {
        
      }
    }
  }
}
