.lower-content-left
  .slide-title
    .triangle-bg
    %h2 badgley mishcka lower-content
    =image_tag('back-button.gif', :class => 'back-button', :id => 'designer-back')

    .rsArrow.rsArrowLeft.rsArrowDisabled.left
      .rsArrowIcn
    .slideCount.left 1/4
    .rsArrow.rsArrowRight.left
      .rsArrowIcn

.lower-content-right
  .lower-content-slider
    .rsContent
      =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
      =image_tag('badgley-mishcka-1.jpg', :class => 'lower-content-image')

    .rsContent
      =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
      =image_tag('badgley-mishcka-1.jpg', :class => 'lower-content-image')

    .rsContent
      =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
      =image_tag('badgley-mishcka-1.jpg', :class => 'lower-content-image')