.designer-left
  .slide-title
    %h4 badgley mishcka couture
  .rsArrow.rsArrowLeft.rsArrowDisabled.left
    .rsArrowIcn
  .slideCount.left 1/1
  .rsArrow.rsArrowRight.left.rsArrowDisabled
    .rsArrowIcn
      
.designer-right
  .designer-slider
    .rsContent
      =image_tag('badgley-mishcka-1.jpg')