.designer-left
  .slide-title
    .triangle-bg
    %h2 badgley mishcka couture
    =image_tag('back-button.gif', :class => 'back-button', :id => 'designer-back')

    .rsArrow.rsArrowLeft.rsArrowDisabled.left
      .rsArrowIcn
    .slideCount.left 1/4
    .rsArrow.rsArrowRight.left
      .rsArrowIcn

.designer-right
  .designer-slider
    .rsContent
      =image_tag('couture-frame.png', :id => 'couture-frame')
      =image_tag('badgley-mishcka-1.jpg', :class => 'couture-image')

    .rsContent
      =image_tag('couture-frame.png', :id => 'couture-frame')
      =image_tag('badgley-mishcka-1.jpg', :class => 'couture-image')

    .rsContent
      =image_tag('couture-frame.png', :id => 'couture-frame')
      =image_tag('badgley-mishcka-1.jpg', :class => 'couture-image')