.designer-left
  .slide-title
    %h2 badgley mishcka couture
    .rsArrow.rsArrowLeft.rsArrowDisabled.left
      .rsArrowIcn
    .slideCount.left 1/1
    .rsArrow.rsArrowRight.left.rsArrowDisabled
      .rsArrowIcn

.designer-right
  .designer-slider
    .rsContent
      =image_tag('couture-frame.png', :id => 'couture-frame')
      =image_tag('badgley-mishcka-1.jpg', :class => 'couture-image')

    .rsContent
      =image_tag('couture-frame.png', :id => 'couture-frame')
      =image_tag('badgley-mishcka-1.jpg', :class => 'couture-image')

    .rsContent
      =image_tag('couture-frame.png', :id => 'couture-frame')
      =image_tag('badgley-mishcka-1.jpg', :class => 'couture-image')