.lower-content-left
  .slide-title
    %h2 Elie Saab
    =image_tag('back-button.gif', :class => 'back-button')

    .rsArrow.rsArrowLeft.rsArrowDisabled.left
      .rsArrowIcn
    .slideCount.left 1/1
    .rsArrow.rsArrowRight.left.rsArrowDisabled
      .rsArrowIcn
    
.lower-content-right
  .lower-content-slider
    .rsContent
      =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
      =image_tag('badgley-mishcka-1.jpg', :class => 'lower-content-image')

    .rsContent
      =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
      =image_tag('badgley-mishcka-1.jpg', :class => 'lower-content-image')

    .rsContent
      =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
      =image_tag('badgley-mishcka-1.jpg', :class => 'lower-content-image')