- content_for :designer_name do
  monique lhuillier

- content_for :designer_images do
  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('lhuillier-couture-1.jpg', :class => 'lower-content-image')

  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('lhuillier-couture-2.jpg', :class => 'lower-content-image')

  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('lhuillier-couture-3.jpg', :class => 'lower-content-image')

  .rsContent
    =image_tag('lower-content-frame.png', :id => 'lower-content-frame')
    =image_tag('lhuillier-couture-4.jpg', :class => 'lower-content-image')    

= render "shared/designer_page"